<app-nav-menu></app-nav-menu>
<div class="container-fluid">
    <div class="row justify-content-center">   
        <div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Parabéns</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Você está ajudando a criar uma cidade mais limpa e sustentável</h6>
                  <p class="card-text">Até o momento você deixou de emitir 55,4 métros cúbicos de CO2.</p>
                  <a [routerLinkActive]="['link-active']" [routerLink]="['/carteira']" href="#" class="card-link">Carteira</a>
                  <a [routerLinkActive]="['link-active']" [routerLink]="['/homeUsuario']" href="#" class="card-link">Home</a>
                </div>
              </div>
        </div>
    </div>
</div>
